/* Ajuste general para que el footer siempre quede abajo */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Orbitron", sans-serif;
  background-color: white;
  color:black;
  text-align: center;
}

.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background: #111;
  color: #fff;
}

.hero {
  text-align: center;
  padding: 4rem 2rem;
  background: white;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}



.servicios{
  display: block;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.ejemplo,
.contacto {
  text-align: center;
  padding: 3rem 2rem;
}

.site-footer {
  text-align: center;
  padding: 1rem;
  background: #111;
  color: #fff;
  margin-top: 2rem;
}
.texto-centrado{
    text-align: center;
}
